{% extends 'base.html' %}

{% block titulo %}
    
{% endblock titulo %}

{% block contenido %}
<div class="pagetitle">
  <h1>MFC, Servicios de Computo</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item active">Dashboard</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
  <div class="pagetitle">
    <h1>Información</h1>
      <ul>
        <li>
          Alameda Poniente #17 E Colonia Centro </li>
        <li>
          Jerez Zacatecas, 99300 </li>
        <li>
          Email: mike_msre@hotmail.com </li>
        <li>
          Teléfono: (494) 945 9435 </li>
      </ul>

  </div>
</section>
{% endblock contenido %}

{% block scripts %}

{% endblock scripts %}
